body{
    line-height: 26px;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    color: #777777;
    padding: 0;
    margin: 0;
}

.container{
    position: fixed;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    background-image: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
}



