/* body{
    line-height: 26px;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    color: #777777;
    padding: 0;
    margin: 0;
}

.container{
    position: fixed;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    background-image: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
}


 */

body, html{
    padding: 0;
    margin: 0;
    /* background-image: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%); */
    background-image: url('/img/wizard.jpg');
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Gugi', cursive;
}

.all{
    border: 1px solid rgb(85, 191, 223);
    border-radius: 5%;
    background-image: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
    padding: 10px 20px 10px 20px;
    box-shadow: 5px 10px rgba(8, 10, 10, 0.596);
    margin-left: 20%;
    margin-right: 25%;
    margin-top: 3.5%;
    margin-bottom: 3%;
    font-family: 'Ubuntu', sans-serif;
}

.image{
    float: right;
    border-radius: 50%;
}

.text{
    letter-spacing: 2px;
    line-height: 1.3;
    font-size: 20px;
}

.footer{
    position: fixed;
    left: 10%;
    right: 10%;
    bottom: 15px;
    height: 30px;
    text-align: center;
}

.footer > span {
    margin-left: 1.2rem;
}

.footer > span:hover {
    cursor: pointer;
}

.icon-color-lin{
    color: rgb(0, 27, 181);
}

.icon-color-ttr{
    color: rgb(0, 139, 181);
}

.icon-color-git{
    color: rgb(0, 0, 0);
}